{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 50,
        "firefox": 45,
        "ie": 11,
        "edge": 12,
        "browsers": ["last 3 versions"]
      },
      "debug": false
    }]
  ]
}
