language: node_js
node_js:
  - "6.3"
before_install:
  npm install -g npm@'>=3.10.6'
notifications:
  email:
    on_success: never
    on_failure: always
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - npm install
