bright-orange-color = #eb9369
orange-color        = #ea4b2a
green-color         = #00d814

@import 'keyframes/*'

.videomail

    .visuals
        position relative

    .replay
    .userMedia
        width  100% !important

    .countdown
    .recordTimer
    .recordNote
    .paused
        margin 0

    .countdown
    .recordTimer
    .recordNote
    .paused
    noscript
        position    absolute
        font-weight bold

    .countdown
    .paused
    noscript
        width       100%
        top         50%
        transform   translateY(-50%)

    .paused
    .countdown
        opacity     .75
        text-align  center
        font-size   480%

    .recordTimer
    .recordNote
        right           .7em
        background      rgba(10, 10, 10, .8)
        padding         .4em .4em .3em
        transition      all 1s ease
        color           green-color

        &.near
            color bright-orange-color

        &.nigh
            color orange-color

    .recordTimer
        top .7em

    .recordNote
        top 3.6em

        &:before
            content   "REC"
            animation blink 1s infinite

    .notifier
        display        table-cell
        vertical-align middle
        overflow       hidden
        box-sizing     border-box

    .hide
        display none


